<form id="postform" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>
	<div class="panel">
		<div class="inner">
			<p>{{ lang('SIGNATURE_EXPLAIN' }}</p>
			<fieldset class="fields1">
				<!-- INCLUDE posting_buttons.html -->
				<div id="message-box" class="message-box">
					<textarea name="message" id="message" rows="15" cols="76" tabindex="4" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);" onfocus="initInsertions();" class="inputbox">{MESSAGE}</textarea>
				</div>
			</fieldset>
		</div>
	</div>
</form>